.app {
  min-height: 100vh;
}

.header {
  padding-top: 20px;
  height: auto;

  &__title {
    color: #fff !important;
    text-align: center;
  }
}

.content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
